#row_container {
    padding-left: 10px;
    display: inline-flex;
    margin: 5%;
    margin-top: 1%;
}

#names_list,
#years_list,
#format,
#measurements,
#button {
    display: inline-table;
    padding: 5px;
    zoom: 1;
}

#citation_box {
    display: none;
    caption-side: top;
    padding: 5px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
    margin-bottom: 5%;
    border: 1px solid #CCC;
    background-color: #fff;
}

select {
    width: 250px;
    font-size: 16px;
    border: 1px solid #CCC;
    cursor: pointer;
    background-color: #fff;
}

select[multiple] {
    height: 400px;
}